@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Satoshi-Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Satoshi-Variable", sans-serif;
}

:root {
  --safekaroDarkOrange: "#e59411";
  --safekaroOrange: " #edb65c";
  --safekaroLightOrange: "#e9b35b";
  --safekaroLighterOrange: "#f4d096";
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(194, 193, 193);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e59411;
    border-radius: 100vh;
    border: 1px solid #e59411;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #edb65c;
    border: 1px solid #edb65c;
  }
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

.hide-scrollbar {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}