@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Satoshi-Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Satoshi-Variable", sans-serif;
}

:root {
  --safekaroDarkOrange: "#e59411";
  --safekaroOrange: " #edb65c";
  --safekaroLightOrange: "#e9b35b";
  --safekaroLighterOrange: "#f4d096";
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(194, 193, 193);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e59411;
    border-radius: 100vh;
    border: 1px solid #e59411;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #edb65c;
    border: 1px solid #edb65c;
  }
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

.hide-scrollbar {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.btnGradient {
  letter-spacing: 0.05em; /* tracking-wide */
  font-weight: 600; /* font-semibold */
  background: linear-gradient(to right, #E9762B, #EDB65C); /* gradient */
  color: #443627; /* text color */
  transition: all 0.3s ease-in-out; /* transition-all + duration-300 + ease-in-out */
  width: 100%; /* w-full */
  margin-bottom: 2.5rem; /* mb-10 = 40px */
  padding: 0.75rem 1rem; /* py-3 px-4 = 12px 16px */
  border-radius: 0.5rem; /* rounded = 8px */
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  outline: none; /* focus:outline-none */
}

.btnGradient:hover {
  background: linear-gradient(to right, #EDB65C, #E9762B); /* reversed on hover */
}

.btnGradient:active {
  transform: scale(0.9); /* active:scale-90 */
}

.btnGradient:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* similar to shadow-outline */
}
