@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Satoshi-Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Satoshi-Variable", sans-serif;
}


.scroll-hidden::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

.scroll-hidden::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.scroll-hidden::-webkit-scrollbar-thumb {
  background: #95c5d9;
  border-radius: 4px;
}

.scroll-hidden::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.scroll-hidden {
  overflow-y: auto; 
  overflow-x: hidden; 
}

.scroll-hidden {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}